.read-dropdown {
	background-color: white;
	color: black;
	border-style: solid;
	border-radius: 5px;
	padding-left: 10px;
	width: 100%;
	height: 30px;
}

.read-button {
	background-color: white;
	height: 30px;
	width: 100%;
	color: black;
}

.read-title {
	color: white;
	text-align: center;
	margin: 5px 0px 5px 0px;
}
